---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "material-design-lite";
@import "syntax-highlighting";

// jekmdl variables
html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}
.jekmdl-ribbon {
  width: 100%;
  height: 40vh;
  background-color: #3F51B5;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.jekmdl-main {
  margin-top: -35vh;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.jekmdl-header .mdl-layout__header-row {
  padding-left: 40px;
}

.jekmdl-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.jekmdl-post-content {
	padding: 10px 10px;
}

.jekmdl-content {
  border-radius: 2px;
  padding: 80px 56px;
  margin-bottom: 80px;
}

.jekmdl-layout.is-small-screen .jekmdl-content {
  padding: 40px 28px;
}

.jekmdl-content h3 {
  margin-top: 48px;
}

.jekmdl-footer {
  padding-left: 40px;
}

.jekmdl-footer .mdl-mini-footer--link-list a {
  font-size: 13px;
}
.jekmdl-post-list h2 {
  font-size: 18px;
}
.jekmdl-post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: 10px;
    }
}

/**
 * Code formatting
 */
pre,
code {
    font-size: 13px;
    border: 1px solid grey;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}
